<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:replace="/fragments/head :: head"></head>
<body>
<div class="container">
  <div th:if="${param.error}" >
    <a th:text="#{errorParam.text}" class="row justify-content-center"></a>
  </div>
  <div th:if="${param.logout}" >
    <a th:text="#{logout.text}" class="row justify-content-center"></a>
  </div>
  <form th:action="@{/login}" method="post" class="col-lg-6 offset-lg-3 ">
    <div class="row justify-content-center">
      <label th:text="#{userName.text}" />
      <input class="form-control" type="text" name="username"/>
      <label th:text="#{password.text}" />
      <input class="form-control" type="password" name="password"/>
    <div><button class="btn" type="submit"  th:text="#{signIn.button}"></button></div>
    </div>
  </form>
  <a class="row justify-content-center" href="/registration" th:text="#{addNewUser.text}"></a>
</div>
</body>
</html>