<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:replace="/fragments/head :: head"></head>
<body>
<div class="container">
    <label th:text="#{registration.text }" class="row justify-content-center "></label>
    <a th:text="${name}"></a>
    <form th:action="@{/registration}"  method="POST" th:object="${user}" class="col-lg-6 offset-lg-3 ">
        <div class="row justify-content-center">
        <div>
            <label th:text="#{name.text}"/>
            <input class="form-control" th:field="*{firstName}" />
            <a th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}">Error</a>
        </div>
        <div>
            <label th:text="#{lastName.text}"/>
            <input class="form-control" th:field="*{lastName}" />
            <a th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}">Error</a>
        </div>
        <div>
            <label th:text="#{userName.text}"/>
            <input class="form-control" th:field="*{email}" />
            <a th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Error</a>
        </div>
        <div>
            <label th:text="#{password.text}"/>
            <input class="form-control" type="password"  th:field="*{password}" />
            <a th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Error</a>
        </div>
        <div>
            <label th:text="#{confirm.password.text}"/>
            <input class="form-control" type="password" th:field="*{matchingPassword}" />
        </div>
        <div><button class="btn btn-success" type="submit"  th:text="#{signUp.button}"></button></div>
        </div>
    </form>
</div>
</body>
</html>