<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:replace="/fragments/head :: head"></head>
<body class="d-flex flex-column min-vh-100">
<div class="container">
    <header th:replace="/fragments/navbar :: navbar"></header>
    <form th:action="@{/upload-work}"  method="POST"  enctype="multipart/form-data" class="col-lg-6 offset-lg-3 ">
        <div  class="row justify-content-center">
            <label th:text="#{title.work}"/>
            <input class="form-control" type="text" th:name="title" th:value="${work.title}"/>
            <label th:text="#{annotation.work}"/>
            <input class="form-control" type="text" th:name="annotation" th:value="${work.annotation}"/>
            <label th:text="#{file.work}"/>
            <input class="form-control" type="file" name="file" />
        <div><button class="btn" type="submit"   th:text="#{upload.button}"></button></div>
        </div>
    </form>
</div>
<div class="container mt-auto">
    <footer th:replace="/fragments/footer :: footer"></footer>
</div>
</body>
</html>