<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:replace="/fragments/head :: head"></head>
<body class="d-flex flex-column min-vh-100">
<div class="container">
    <header th:replace="/fragments/navbar :: navbar"></header>
    <div th:text="${work.title}"></div>
    <div th:text="${work.annotation}"></div>

    <div th:if="${reviewCreated}">
        <a th:text="#{created.review.message}"/>
    </div>
    <div th:unless="${reviewCreated}">
    <a class="btn btn-outline-primary" th:href="@{|/published-works/${work.id}/create-review|}" th:text="#{create.review.button}"/>
    </div>
    <div class="card w-100" th:each="review : ${reviews.content}">
        <hr color="blue"  width="100%" size="10">
            <div class="card-body p-4">
                <div class="">
                    <div class="d-flex flex-row align-items-center">
                        <h5 th:text="${review.user.firstName}"> </h5>
                        <h5>&nbsp; </h5>
                        <h5 th:text="${review.user.lastName}"> </h5>
                    </div>
                    <p class="small" th:text="${#temporals.format(review.date, 'dd-MM-yyyy HH:mm')}"></p>
                    <p th:text="${review.text}"></p>
                </div>
                <div class="d-flex justify-content-between align-items-center">
                    <div class="d-flex flex-row align-items-center">
                        <h5 th:text="#{rate.review}"></h5>
                        <h5> &nbsp;</h5>
                        <h5 th:text="${review.rate}"></h5>
                        <h5>/5</h5>
                    </div>
                    <div class="d-flex align-items-center">
                        <div  th:if="${review.user.id}==${userId}">
                            <a class="btn btn-outline-primary" th:href="@{|/published-works/${work.id}/update-review/${review.id}|}" th:text="#{update.button}"></a>
                        </div>
                        <h5> &nbsp;</h5>
                        <div  th:if="${review.user.id}==${userId}">
                            <a class="btn btn-outline-primary" th:href="@{|/published-works/${work.id}/delete-review/${review.id}|}" th:text="#{delete.button}"></a>
                        </div>
                    </div>
            </div>
        </div>
    </div>
    <ul th:if="${reviews.totalPages > 0}" class="nav nav-tabs justify-content-center">
        <li class="nav-item"  th:each="pageNumber : ${pageNumbers}">
            <a th:href="@{/published-works/{work}(work=${work.id}, size=${reviews.size}, page=${pageNumber} , sort=${sort}, nameBy=${nameBy})}"
               th:text=${pageNumber}
               th:class="${pageNumber==reviews.number + 1} ? active"></a>
        </li>
    </ul>
</div>
<div class="container mt-auto">
    <footer th:replace="/fragments/footer :: footer"></footer>
</div>
</body>
</html>